@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     src: url('/web/fonts/poppins-v20-latin-regular.woff2') format('woff2');
     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     src: url('/web/fonts/poppins-v20-latin-500.woff2') format('woff2');
     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     src: url('/web/fonts/poppins-v20-latin-600.woff2') format('woff2');
     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
     font-display: swap;
     /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     src: url('/web/fonts/poppins-v20-latin-700.woff2') format('woff2');
     /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
     --light: #f6f6f9;
     --grey: #eeeeee;
     --dark: #363949;

     --primary: #1976D2;
     --light-primary: #CFE8FF;

     --dark-grey: #AAAAAA;

     --danger: #D32F2F;
     --light-danger: #FECDD3;
     --warning: #FBC02D;
     --light-warning: #FFF2C6;
     --success: #388E3C;
     --light-success: #BBF7D0;

     --pink: #9f1ee9;
     --light-pink: #f5d8f9;
}

body {
     background: var(--grey);
     width: 100%;
     overflow-x: hidden;
     transition: all 0.3s ease;
     -webkit-tap-highlight-color: #00000016;

}

body.dark {
     --light: #181a1e;
     --grey: #25252c;
     --dark: #fbfbfb;

     --light-primary: #25303b;
     --light-danger: #2b1a1c;
     --light-warning: #3c351b;
     --light-success: #1a2f22;
     --light-pink: #2a1a2a;

     -webkit-tap-highlight-color: #ffffff16;

}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}


.bx {
     font-size: 1.7rem;
}

nav {
     height: 56px;
     background: var(--light);
     padding: 0 24px 0 24px;
     display: flex;
     align-items: center;
     grid-gap: 24px;
     position: sticky;
     top: 0;
     left: 0;
     z-index: 1000;
}

.content nav::before {
     content: "";
     position: absolute;
     width: 40px;
     height: 40px;
     bottom: -40px;
     left: 0;
     border-radius: 50%;
     box-shadow: -20px -20px 0 var(--light);
}

nav a {
     color: var(--dark);
}

nav .logo {
     font-size: 24px;
     font-weight: 700;
     height: 56px;
     display: flex;
     align-items: center;
     color: var(--primary);
     z-index: 500;
     box-sizing: content-box;
     text-decoration: none;
     margin-right: auto;
}

nav img {
     height: 35px;
     width: 35px;
     margin-right: 10px;
     border-radius: 50px;
}

nav .logo .logo-name span {
     color: var(--dark);
}

nav .theme-toggle {
     display: block;
     min-width: 50px;
     height: 25px;
     background: var(--grey);
     cursor: pointer;
     position: relative;
     border-radius: 25px;
}

nav .theme-toggle::before {
     display: flex;
     content: "☀";
     color: var(--light);
     background-color: var(--warning);
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 2px;
     left: 2px;
     bottom: 2px;
     width: calc(25px - 4px);
     border-radius: 50%;
     transition: all 0.3s ease;
}

nav #theme-toggle:checked+.theme-toggle::before {
     left: calc(100% - (25px - 4px) - 2px);
     background: var(--primary);
     content: "☾";
}

nav a svg {
     fill: var(--dark);
}


main {
     width: 100%;
     padding: 36px 24px;
     /* max-height: calc(100vh - 112px); */
     min-height: calc(100vh - 112px);
     padding-bottom: 20px;
}

main ul {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
     grid-gap: 24px;
     margin-top: 36px;
}


main ul li {
     padding: 24px;
     background: var(--light);
     border-radius: 20px;
     display: flex;
     align-items: center;
     grid-gap: 24px;
     cursor: pointer;
}

main ul li:active {
     transform: scale(0.98);
     opacity: 0.8;
}

main ul li a {
     text-decoration: none;
}

main ul li .bx {
     width: 80px;
     height: 80px;
     border-radius: 10px;
     font-size: 36px;
     display: flex;
     align-items: center;
     justify-content: center;

}

main ul li span h3 {
     font-size: 21px;
     font-weight: 600;
     color: var(--dark);
}


main ul li:nth-child(1) .bx {
     background: var(--light-primary);
     color: var(--primary);
}

main ul li:nth-child(2) .bx {
     background: var(--light-warning);
     color: var(--warning);
}

main ul li:nth-child(3) .bx {
     background: var(--light-success);
     color: var(--success);
}

main ul li:nth-child(4) .bx {
     background: var(--light-danger);
     color: var(--danger);
}


main .upload-container {
     display: flex;
     flex-wrap: wrap;
     grid-gap: 24px;
     margin-top: 24px;
     width: 100%;
     color: var(--dark);
}



main .upload-container .browse-container,
main .upload-container .files-list-container {
     border-radius: 20px;
     background: var(--light);
     padding: 20px;
     overflow-x: auto;
     -ms-overflow-style: none;
     scrollbar-width: none;
}

main .upload-container .browse-container::-webkit-scrollbar,
main .upload-container .files-list-container::-webkit-scrollbar {
     display: none;
}


main .upload-container .browse-container {
     flex-grow: 1;
     /* flex-basis: 500px; */
     display: flex;
     align-items: center;
     grid-gap: 24px;
     cursor: pointer;
}

main .upload-container .browse-container:active {
     transform: scale(0.98);
     opacity: 0.8;
}



main .upload-container .browse-container .bx {
     width: 80px;
     height: 80px;
     border-radius: 10px;
     font-size: 36px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: var(--light-pink);
     color: var(--pink);
}



main .upload-container .browse-container h3 {
     font-size: 21px;
     font-weight: 600;
     color: var(--dark);
}

main .upload-container .files-list-container {
     flex-grow: 5;
}

main .upload-container .files-list-container .header {
     display: flex;
     align-items: center;
     grid-gap: 16px;
}



main .upload-container .files-list-container .header h3 {
     margin-right: auto;
     font-size: 24px;
     font-weight: 600;
}

main .upload-container .files-list-container table {
     border-collapse: collapse;
     margin-bottom: 20px;
     margin-left: 20px;

}

main .upload-container .files-list-container progress {
     visibility: hidden;
     height: 10px;
     margin: 10px;
     margin-right: 20px;
     width: 100%;
}

main .upload-container .files-list-container .upload-btn {
     height: 36px;
     padding: 0 16px;
     border-radius: 36px;
     background: var(--primary);
     color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     grid-gap: 10px;
     font-weight: 500;
     border: none;
     cursor: pointer;
}

main .upload-container .files-list-container .upload-btn:active {
     transform: scale(0.98);
     opacity: 0.8;
}


footer{
     width: 100%;
     height: 56px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--light);
}

footer p{
     color: var(--dark);
     font-size: 0.9rem;
}
footer p a{
     color: var(--primary);
     text-decoration: none;
     font-weight: 600;
     
}