<!DOCTYPE html>

<html>

<head>
     <link rel='icon' href="/static/icon.jpeg">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/static/index.css">
     <script src="/static/index.js"></script>
     <title>Home Server</title>
</head>


<body>
     <div class="top-bar">
          <img src="/static/icon.jpeg" alt="Your Image" class="top-bar-image">
          <p class="top-bar-text"> Home Server </p>
     </div>
     <main>

          <div class="container">
               <div class="box" onclick="accessServer()">
                    <p class="item">Directory</p>
               </div>
               <div class="box" onclick="shutdown()">
                    <p class="item">Shutdown</p>
               </div>
               <div class="box" onclick="reboot()">
                    <p class="item">Reboot</p>
               </div>
               <div class="box" onclick="sleep()">
                    <p class="item">Sleep</p>
               </div>

               <div class="box" onclick="ping()">
                    <p class="item">Ping</p>
               </div>

          </div>


          <form id="uploadForm" class="input-form">
               <p class="item">Uploader</p>
               <div class="input-div">
                    <p id="file-name" class="file-name"></p>  
                    <input type="file" id="file" class="input-file" multiple onchange="itemselect(this)" />
                    <label for="file" class="browse-button">
                         Browse
                    </label>
               </div>
               <progress id="uploadProgress" value="0" max="100"></progress>
               <button type="submit" class="upload-button">Upload</button>
          </form>




     </main>


     <div class="footer">
          <p class="footer-text">© 2024 archroid. All rights reserved.</p>
     </div>
</body>

</html>

<script src="/static/uploadFile.js"></script>