<!DOCTYPE html>

<html>

<head>
     <link rel='icon' href="/static/icon.jpeg">
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/static/index.css">
     <script src="/static/index.js"></script>
     <title>Home Server</title>
</head>


<body>
     <div class="top-bar">
          <img src="/static/icon.jpeg" alt="Your Image" class="top-bar-image">
          <p class="top-bar-text"> Home Server </p>
     </div>
     <main>

          <div class="container">
               <div class="box" onclick="accessServer()">
                    <p>Directory</p>
               </div>
               <div class="box" onclick="shutdown()">
                    <p>Shutdown</p>
               </div>
               <div class="box" onclick="reboot()">
                    <p>Reboot</p>
               </div>
               <div class="box" onclick="sleep()">
                    <p>Sleep</p>
               </div>

               <div class="box" onclick="ping()">
                    <p>Ping</p>
               </div>

          </div>

          <form id="uploadForm" class="input-form">
               <div class="div-input">
                    <p>Uploader</p>
               </div>
               <input type="file" id="fileInput" class="file-input" multiple />
               <button type="button" class="browse-button">Browse</button>
               <div class="div-input">
                    <button type="submit" class="upload-button">Upload</button>
               </div>
          </form>



     </main>


     <div class="footer">
          <p class="footer-text">© 2024 archroid. All rights reserved.</p>
     </div>
</body>

</html>

<script src="/static/uploadFile.js"></script>